html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
.button {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	border-color: transparent;
	margin-top: 15px;
	cursor: pointer;
}
input, 
.button, 
.button:hover, 
.button:active {
	outline: none;
}
/**************Header-section**************/

.header {
	padding: 10px 20px;
}
header.header--blue {
	background-color: #71bdff;
}
.header__wrap {
	width: 976px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.logo {
	width: 150px;
	height: auto;
}
.header__top, 
.header__bottom {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 0 20px;
}
.header__text {
	font-size: 0.8335em;
	text-transform: uppercase;
}
.ru, .en {
	font-size: 1.2em;
	line-height: 1;
	padding-left: 35px;
	cursor: pointer;
}
.ru:hover, 
.en:hover {
	color: #414141;
}
.search__input {
	padding-left: 12px;
	color: #fff;
	border-radius: 5px;
    border-color: #fff;
    width: 115px;
    height: 28px;
    background-color: #71bdff;
}
.search__input[type="search"]::-webkit-search-cancel-button { 
	-webkit-appearance: none; 
}
.search__input[type="search"] { 
    background: #71bdff;
    background: url(../img/search.png) no-repeat 95% 50%; 
    border: 2px solid #fff;
    font-size: 1em;
    line-height: 2.3;
}
::-webkit-input-placeholder { color: #fff; }
::-moz-placeholder {color: #fff; }
:-ms-input-placeholder { color: #fff; } 
:-o-input-placeholder { color: #fff; } 
.menu {	
	margin: 0;
    padding: 0;
    padding-top: 24px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__links-item {
	display: inline-block;
	list-style-type: none;
	font-size: 1em;
	position: relative;
	cursor: pointer;
}
.menu__links-item a {
	color: #414141;
	text-decoration: none;
}
.menu__links-item a:hover,
.menu__links-item a:active {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.menu__drop-down {
	padding-right: 30px;
}
.menu__drop-down:after {
	position: absolute;
	border-top: 8px solid #71bdff;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    vertical-align: top;
    width: 0;
    top: 7px;
    right: 0;
}
.menu__drop-down.menu__drop-down--active:after {
	border-top: 0;
	border-bottom: 8px solid #71bdff;
}
.header--blue .menu__drop-down:after {
	border-top: 8px solid #fff;
}
.header--blue .menu__drop-down.menu__drop-down--active:after {
	border-top: 0;
	border-bottom: 8px solid #fff;
}
.submenu--active {
	display: block !important;
}
ul.submenu {
    display: none;
    z-index: 1000;
    width: 194px;
    background-color: #59a9ef;
    padding: 10px;
    position: absolute;
    top: 61px;
    left: -20px;
    -webkit-transition: all 0.2s ease-out 0.15s;
    -o-transition: all 0.2s ease-out 0.15s;
    transition: all 0.2s ease-out 0.15s;
}
.submenu__links-item {
    display: block;
    border-bottom: 1px solid #fff;
    transition: color 0.3s ease-out;
}
.submenu__links {
    display: block;
    padding: 10px;
    padding-bottom: 5px;
    color: #414141;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.button__help {
	width: 115px;
	height: 32px;
	background-color: #f96c91;	
	margin-top: 15px;	
}
.button:hover,
.review .review__form-button:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3bac8), to(#e3608c));
	background-image: -webkit-linear-gradient(#e3bac8, #e3608c);
	background-image: -o-linear-gradient(#e3bac8, #e3608c);
	background-image: linear-gradient(#e3bac8, #e3608c);
}

/**************Adaptive menu**************/

.menu__icon {
	display: none;
	width: 45px;
    height: 35px;
    position: relative;
    left: 0;
    bottom: -13px;
    cursor: pointer;
    margin-right: 20px;
}
.menu__icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
			transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.menu__icon span:nth-child(1) {
	top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
	top: 13px;
}
.menu__icon span:nth-child(4) {
	top: 26px;
}
.header__bottom.menu_state_open .menu__icon span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.header__bottom.menu_state_open .menu__icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}
.header__bottom.menu_state_open  .menu__icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}
.header__bottom.menu_state_open  .menu__icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.header__bottom.menu_state_open .menu__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	line-height: 30px; 
	position: absolute;   
    top: 143px;
    width: 100%;
    z-index: 900;
    background-color: #fff;
    left: 0;
    padding: 20px;
}
.header__bottom.menu_state_open .menu__links-item {
	width: fit-content;
}
.header__bottom.menu_state_open ul.submenu {
	top: 34px;
}
.header__bottom.menu_state_open .menu__drop-down:after {
	top: 11px;
}

/***************Slider-main-section***************/

.slider__main {
	width: 100%;
	height: 716px;
	overflow: hidden;
}
.slider__section {
	width: 900px;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    padding-top: 35px;
    margin: 0 auto;
}
.center img {
	width: 900px;
    height: auto;
}
.slick-list {
	overflow: visible !important;
}
.slider__main .slick-dots {
	bottom: 209px;
}
.slider__main .slick-dots li button:before {
	top: 63px !important;
	color: #71bdff !important;
	font-size: 15px;
}
.slider__main .slick-slider {
    margin:0 -69px;
}
.slider__main .slick-slide {
    text-align:center;
    margin-right: 90px;
    margin-left: 18px;
}
.slider__main h3 {
	position: relative;
    bottom: 537px;
    left: -166px;
    font-size: 3em;
    color: #fa9bbb;
}
.slider__section p {
	position: relative;
    bottom: 537px;
    left: 72px;
    font-size: 1em;
    color: #5a5a5a;
}
.slick-slide {
	outline: none !important;
}
.sponsors .slick-slide img {
	width: 100px;
}
.slider__section .button__more {
	position: absolute;
	background-color: #71bdff;
    top: 520px;
    margin-left: 70px;
}
.slider__section .button__more:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a0d0f9), to(#52a1e7));
	background-image: -webkit-linear-gradient(#a0d0f9, #52a1e7);
	background-image: -o-linear-gradient(#a0d0f9, #52a1e7);
	background-image: linear-gradient(#a0d0f9, #52a1e7);
}

/***************Description-section***************/

.description {
	background-color: #fff;
    max-width: 830px;
    width: 100%;
    height: auto;
    margin: 0 auto 5em;
}
.description h2 {
	color: #71bdff;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 0;
}
.description__wrap p {
	padding: 0 20px;
}
.description__wrap .button__more {
	background-color: #71bdff;
}
.description__wrap .button__more:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a0d0f9), to(#52a1e7));
    background-image: -webkit-linear-gradient(#a0d0f9, #52a1e7);
    background-image: -o-linear-gradient(#a0d0f9, #52a1e7);
    background-image: linear-gradient(#a0d0f9, #52a1e7);
}

/**************News-section**************/

.news {
	background-image: url(../img/news-bg.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
	height: auto;
	margin: 0 auto;
}
.line,
.line__blue {
	max-width: 100%;
    margin: 0 auto;
    display: block;
}
.white__title {
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0;
	margin-top: 0;
    text-shadow: 4px 3px 0px #4d9ee4;
}
.news__container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
 	-webkit-box-align: start;
 	    -ms-flex-align: start;
 	        align-items: flex-start; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 20px;
}
.news__wrap {
	width: 300px;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 1%;
	cursor: pointer;
}
.news__wrap h3 {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.news__item {
	border-radius: 5px;
	background-color: #fff;
}
.news__item-wrap {
	padding: 22px;
	padding-bottom: 0;
}
.news__item-wrap img {
	width: 435px;
	max-width: 100%;
	height: auto;
}
.news__item-wrap h4 {
	font-size: 1.2em;
	font-weight: bold;
	color: #549ede;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.news__descr {
	font-size: 0.87em;
	color: #4e4e4e;
	height: 70px;
	overflow: hidden;
	transition: height 0.3s ease-out;
}
.news__wrap:hover .news__descr {
	height: 120px;
}

.button__more {
	width: 178px;
    height: 47px;
    background-color: #fa9bbb;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 23px;
}
.news__more {
	display: block;
	font-size: 1em;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding-top: 80px;
	padding-bottom: 52px;
	text-decoration: none;
}
.news__more:hover {
	color: #414141;
}

/************Sponsors-section************/

.sponsors {
	background-color: #fff;
    width: 1170px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0 10px;
}
.sponsors h2 {
	color: #6eace1;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.sponsors__wrap {
	width: 100%;
}
.sponsors .slick-dots li button:before {
	color: #71bdff !important;
	font-size: 15px;
}
.sponsors .slick-list {
	padding-bottom: 53px;
	overflow:hidden !important;
}
.sponsors .slick-prev {
    top: 30%;
    left: -118px;
    height: 62px;
    width: 62px;
    background: url("../img/prev.png") no-repeat 0 0;
}
.sponsors .slick-next {
    top: 30%;
    right: -93px;
    height: 62px;
    width: 62px;
    background: url("../img/next.png") no-repeat 0 0; 
}
.slick-prev:before, .slick-next:before {
    content: none;
}
.slick-slide img {
	margin: 0 auto !important;
}

/****************Contacts-section****************/

.contacts {
	width: 100%;
	background-color: #71bdff;
}
.contacts__container {
	color: #fff;
    padding: 50px 20px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 77%;
    margin: 0 auto;
}
.contacts__wrap h2 {
	color: #fff;
	font-size: 3em;
	font-weight: bold;
    text-shadow: 4px 3px 0px #4d9ee4;
    margin-top: 0;
    margin-bottom: 30px;
}
.contacts__wrap h5, 
.contacts__wrap p {
	font-size: 1em;
}
.contacts__wrap h5 {
	margin-top: 25px;
	margin-bottom: 15px;
}
.contacts__wrap p {
	margin-bottom: 10px;
	margin-top: 10px;
}
.scl__icons {
	display: inline-block;
}
.scl__icons a {
	padding-right: 15px;
}
.scl__icons img {
	border-radius: 5px;
}
.scl__icons img:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.tel, .mail {
	color: #fff;
	text-decoration: none;
}
.tel:hover, .mail:hover {
	color: #414141;
}
.contacts__map {
	max-width: 100%;
}
#map { 
    position: relative; 
}
#Ymap { 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
}
.ymaps-2-1-68-svg-icon-content ymaps {
	position: absolute;
    left: -30px;
    top: -35px;
    width: 60px;
    height: 85px;
    background-position: 0px 0px;
    background-size: 60px 85px;
	background-image: url(../img/marker.png);
	z-index: 1000;
}
.map__wrap {
    position: relative;
}

/**********!!!!!!!!!!!!!Our__news!!!!!!!!!!!!!***********/

/******Header-section******/

header.header--white {
	background-color: #fff;
}
.header--white .header__top, 
.header--white .header__bottom {
	color: #71bdff;
}
.header--white .menu__links-item a:hover,

.header--blue .header__bottom.menu_state_open .menu__links-item a:hover {
    color: #71bdff;
     border-bottom: 1px solid #71bdff;
}
.header--white .submenu--active .submenu__links:hover,
.header--blue .submenu--active .submenu__links:hover {
    color: #fff;
    border: none;
}
.header--white ::-webkit-input-placeholder { color: #71bdff; }
			::-moz-placeholder {color: #71bdff; }
			:-ms-input-placeholder { color: #71bdff; } 
			:-o-input-placeholder { color: #71bdff; } 
.header--white .search__input[type="search"] { 
    background: url(../img/search-blue.png) no-repeat 95% 50%; 
    border: 2px solid #71bdff;
}
.header--white .search__input {
    color: #71bdff;
}
.header--white .menu__icon span {
	background: #71bdff;
}
/*.header--white ul.submenu {
    background-color: #59a9ef;
}*/

/*************News-section*************/

.our__news .news__wrap {
	padding-bottom: 70px;
}
.section__bg {
	background-image: url(../img/news-bg-blue.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.pagination {
	padding: 20px; 
	clear:both;
	position: relative;
    z-index: 1;
}
.pagination ul {
	text-align: center;
	padding: 0;
}
.pagination ul li {
	display: inline-block; 
	margin: 0 1px; 
	vertical-align: middle; 
	line-height: 12px; 
	padding: 2px 6px;
}
.pagination ul li a, 
.pagination ul li span {
	color: #fff;
	text-decoration: none;
} 
.pagination ul li a:hover, 
.pagination ul li span:hover {
	color: #666f80; 
	border-radius: 1px;
}
.pagination ul li a.prev, 
.pagination ul li a.next {
	font-weight: bold;
}
.pagination ul li.active a, 
.pagination ul li.active span {
	color: #2d4c80; 
	font-size: 16px; 
	font-weight: bold;
}
.pagination ul li.active a:hover, 
.pagination ul li.active span:hover {
	background: none;
} 
.pagination ul li.active a {
	color: #2d4c80; 
	font-size: 16px; 
	font-weight: bold;
}
.line-1 {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: -50px;
    padding-bottom: 60px;
    position: relative;
    z-index: 0;
}

/***********Contacts-section***********/

.contacts--white {
    background-color: #fff;
}
.contacts--white .contacts__wrap h2 {
	color: #71bdff;
	font-size: 3em;
	font-weight: bold;
	text-shadow: none;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 30px;
}
.contacts--white .contacts__container {
	display: block;
	color: #71bdff;
}
.contacts--blue .contacts__wrap,
.contacts--white .contacts__wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.contacts--white .contacts__wrap .tel, 
.contacts--white .contacts__wrap .mail  {
    color: #71bdff;
}
.contacts--white .contacts__wrap .tel:hover, 
.contacts--white .contacts__wrap .mail:hover {
    color: #414141;
}

/**********!!!!!!!!!!!!! Palliativ !!!!!!!!!!!!!***********/

.colored__title {
	background-image: url(../img/news-bg.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
	height: 150px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.colored__title .white__title {
	margin: 0;
	padding: 0 10px;
	position: relative;
    z-index: 25;
    top: 40px;;
}

/*********Palliativ__descr*********/

.section__wrap {
	width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    /*padding-bottom: 25px;*/
}
.section__padding {
	padding: 0 20px;
}
.page__text {	
	font-size: 1.11em;
	line-height: 1.25;
    color: #4e4e4e;
}
.page__subtitle {
	font-size: 1.25em;
	line-height: 1.25;
  	color: #6eace1;
  	text-transform: uppercase;
  	margin: 25px 0;
}
.page__img {
	display: block;
	width: 820px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.palliativ__descr ul {
	padding: 0;
	list-style-type: none;
}
.palliativ__descr ul li {
	position: relative;
	padding-left: 20px;
}
.palliativ__descr ul li:before {
	position: absolute;
    content: "-";
    top: 0;
    left: 0;
}
.palliativ__order {
	counter-reset:oli;
  	list-style-type:none;
  	padding: 0;
}
.palliativ__order li {
	counter-increment:oli;
}
.palliativ__order li:before {
	position: absolute;
	content: counter(oli)". ";
    font-weight: bold;
    font-size: 1.2em;
    color: #4e4e4e;
    display: inline-block;
    min-width: 2em;
    text-align: left;
    line-height: 1.21;
}
.palliativ__strong {
	padding-left: 25px;
}

/*Share-section*/

.form__title {
  	font-size: 1.11em;
  	color: rgb(110, 172, 225);
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 1.875;
}

/*Comments-section*/

.comments__wrap,
.review__form-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.comments__label,
.comments__input,
.review__form-label,
.review__form-input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.comments__textarea,
.review__form-textarea {
	margin-right: 55px;
}
.comments__area,
.comments__input-data,
.review__form-area,
.review__form-input-data {
  	border: 1.5px solid #6eace1;
  	border-radius: 3px;
  		padding-left: 10px;
}
.comments__area,
.review__form-area {
	padding-top: 10px;
}
.comments__input-data,
.review__form-input-data {
	margin-top: 29px;

	color: rgb(110, 172, 225);
    width: 230px;
    max-width: 100%;
    height: 32px;
}
.comments__button,
.review__form-button {
  	border-radius: 3px;
  	background-color: rgb(113, 189, 255);
  	width: 243px;
  	height: 33px;
  	margin-top: 29px;
  	text-transform: none;
}
.comments__button:hover,
.review__form-button:hover {
	background-image: linear-gradient(#a0d0f9, #52a1e7);
}
.line__blue {
	margin: 50px auto;
}
.palliativ ::-webkit-input-placeholder,
.review ::-webkit-input-placeholder { color: #4e4e4e; }
.palliativ ::-moz-placeholder,
.review ::-moz-placeholder {color: #4e4e4e; }
.palliativ :-ms-input-placeholder,
.review :-ms-input-placeholder { color: #4e4e4e; } 
.palliativ :-o-input-placeholder,
.review :-o-input-placeholder { color: #4e4e4e; } 

.palliativ textarea::-webkit-input-placeholder,
.review textarea::-webkit-input-placeholder {
	color: #4e4e4e;
	font-family: Arial;
}

/*Contacts*/

.contacts--blue .contacts__container {
	display: block;
}

/*****************Library-page*****************/

.library__text,
.team__text {
  	font-size: 1.111em;
  	color: rgb(255, 255, 255);
  	line-height: 1.55;
  	margin-top: 40px;
  	margin-bottom: 40px;
  	padding: 0 20px;
}

.library .news__wrap {
	margin: 0 3% 7%;
}

/*****************Review-page*****************/

.review__container {
	width: 960px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.review__wrapper {
	padding: 0 20px;
	/*max-width: 100%;*/

}
.review__item {
	position: relative;
  	background-color: rgb(255, 255, 255);
  	box-shadow: -1.147px 1.638px 11.4px 0.6px rgba(24, 20, 20, 0.18);
  	border-radius: 4px;
  	/*width: 670px;*/
  	max-width: 670px;
    height: 160px;
    padding: 35px 30px 55px;
    margin-top: 90px;
    /*clear: both;*/
}
.review__item:before {
   	content: '';
    border: 1px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 56px solid white;
    position: absolute;
    left: 12%;
    /* margin-left: -12px; */
    top: -52px;
    transform: rotate(-11deg);
    width: 0;
}
.review__wrapper-right {
	 align-self: flex-end;
}
.review__wrap {
	overflow: hidden;
	line-height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	/*max-height: 152px;*/
}
.review__item.open {
	height: auto;
}
.review__item.open .review__wrap {
    -webkit-line-clamp: inherit;
}
.review__text {
  	font-size: 1em;
  	color: rgb(78, 78, 78);
  	line-height: 1.4;
  	margin: 0;
  	height: auto;
  	/*max-height: 152px;*/
}
.review__name {
  	font-size: 1.11em;
  	color: rgb(113, 189, 255);
  	line-height: 1.157;
  	float: right;
}
.review__button {
	/*display: none;*/
	font-size: 2.5em;
    /* width: 20px; */
    /* height: 20px; */
    color: #71bdff;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%) rotate(-90deg);
    cursor: pointer;
}
.review__item:hover .review__button {
  	animation: swing 0.6s ease;
   	animation-iteration-count: infinite;
}
@keyframes swing {
  	15% {
    	transform: translate(-50%) rotate(-90deg) translateX(9px);
  	}
  	50% {
    	transform: translate(-50%) rotate(-90deg) translateX(6px);
  	}
  	100% {
    	transform: translate(-50%) rotate(-90deg) translateX(0);
  	}
}
.review__item.open .review__button {
	transform: translate(-50%) rotate(90deg);
	animation: none;
}

.review__form-subtitle {
	color: #fff;
}
.review__form-area,
.review__form-input-data {
	border: 1.5px solid transparent;
}
.review__form-label {
	width: 100%;
    padding: 0 20px;
}
.review__form-button {
	background-color: #f96c91;
}
.review__form {
	padding-top: 40px;
	padding-bottom: 40px;
}

/*****************Team-page*****************/

.team__container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 60px;
}
.team__title {
  	font-size: 1.8em;
  	color: rgb(255, 255, 255);
  	line-height: 0.926;
  	text-shadow: 4.774px 5.119px 0px rgba(84, 154, 214, 0.64);
	text-align: center;
}
.team__wrap {
	height: auto;
    display: grid;
    padding: 22px 20px;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    margin: 0 auto;
    /* text-align: center; */
    grid-column-gap: 1.2em;
    grid-row-gap: 2.5em;
    /*margin-top: 40px;*/
}
.team__item {
  	border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5.314px 5.314px 55.86px 1.14px rgba(113, 189, 255, 0.64);
    width: 255px;
    /* max-width: 255px; */
    height: auto;
    padding: 28px 20px;
    margin: 0 auto;
}

.team__img {
	max-width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative;
} 
.team__img-item {
	min-width: 100%;
    height: 100%;
    /* object-fit: scale-down; */
    position: absolute;
    padding-top: -2%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.team__cell {
	font-size: 1em;
	margin-top: 28px;
  	box-shadow: -1.147px 1.638px 11.4px 0.6px rgba(24, 20, 20, 0.18);
  	/*width: 100%;*/
  	height: 85px;
  	display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
}
.team__cell:hover  {
	box-shadow: 11.314px 11.314px 55.86px 1.14px rgba(113, 189, 255, 0.64);
}
.team__name {
  	color: rgb(84, 158, 222);
  	font-weight: bold;
  	line-height: 1.2;
  	text-align: center;
  	margin: 0;
}
.team__subtitle {
  	color: rgb(78, 78, 78);
    text-align: center;
    line-height: 1.3;
    margin: 0;
    padding-top: 5px;
}

/************Team-page/////////////////************/

.team-page__descr {
	padding-top: 60px;
}
.team-page .team__item {
	float: left;
	margin-right: 60px;
	margin-bottom: 30px;
}
