html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

/*Header-section*/

header.blue {
	background-color: #71bdff;
}

.top-header {
	width: 900px;
	max-width: 100%;
	height: 175px;
	padding: 0 20px;
	margin: 0 auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.logo-wrap {
	padding-top: 28px;
	padding-left: 15px;
}

.logo {
	width: 150px;
	height: auto;
}

.logo-descr {
	padding-top: 43px;
}

.logo-top, .logo-bottom {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding-left: 55px;
}

.logo-text {
	font-size: 1em;
	text-transform: uppercase;
}

.ru, .en {
	font-size: 1.2em;
	padding-left: 35px;
	margin-top: -3px;
	cursor: pointer;
}

.ru:hover, .en:hover {
	color: #414141;
}

.search {
	padding-left: 45px;
}

.input {
	padding-left: 12px;
	color: #fff;
	border-radius: 5px;
    border-color: #fff;
    width: 145px;
    height: 35px;
    margin-top: -7px;
    background-color: #71bdff;
}

input[type="search"]::-webkit-search-cancel-button { 
	-webkit-appearance: none; 
}

input[type="search"] { 
    background: #71bdff;
    background: url(../img/search.png) no-repeat 95% 50%; 
    border: 2px solid #fff;
    font-size: 1em;
}

::-webkit-input-placeholder { color: #fff; }
::-moz-placeholder {color: #fff; }
:-ms-input-placeholder { color: #fff; } 
:-o-input-placeholder { color: #fff; } 

.logo-bottom {	
	cursor: pointer;
}

.menu {	
	margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-right: 55px;
    width: 100%;
    list-style: none;
    display: block;
    text-align: justify;
}

ul.menu > li a:hover{
    border-bottom: 1px solid #fff;
}

.menu li {
	display: inline-block;
	list-style-type: none;
	font-size: 1em;
}

.menu li a {
	color: #414141;
	text-decoration: none;
	padding-bottom: 5px;
}

.menu li a:hover {
	color: #fff;
}

ul li.jf {
    width: 100%;
}

.btn-help {
	width: 197px;
	height: 40px;
	background-color: #f96c91;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	border-color: transparent;
	margin-top: 10px;
	cursor: pointer;
}

input, .btn-help, .btn-help:hover, .btn-more, .btn-more:hover {
	outline: none;
}

.btn-help:hover, .btn-more:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3bac8), to(#e3608c));
	background-image: -webkit-linear-gradient(#e3bac8, #e3608c);
	background-image: -o-linear-gradient(#e3bac8, #e3608c);
	background-image: linear-gradient(#e3bac8, #e3608c);
}

/*****Adaptive menu*****/

.menu__icon {
	display: none;
	width: 45px;
    height: 35px;
    position: relative;
    left: 0;
    bottom: -13px;
    cursor: pointer;
    margin-right: 20px;
}

.menu__icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
			transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
	top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
	top: 13px;
}

.menu__icon span:nth-child(4) {
	top: 26px;
}

.logo-bottom.menu_state_open .menu__icon span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.logo-bottom.menu_state_open .menu__icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}

.logo-bottom.menu_state_open  .menu__icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.logo-bottom.menu_state_open  .menu__icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.logo-bottom.menu_state_open .menu__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	line-height: 24px; 
}

.help-open {
	display: none;
}

/*Slider-main-section*/

.slider-main {
	width: 100%;
	height: 716px;
	overflow: hidden;
}
.slider-section {
	width: 900px;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    padding-top: 35px;
    margin: 0 auto;
}

.center img {
	width: 900px;
    height: auto;
}

.slick-list {
	overflow: visible!important;
}

.slider-main .slick-dots {
	bottom: 209px;
}

.slider-main .slick-dots li button:before {
	top: 63px!important;
	color: #71bdff!important;
	font-size: 15px;
}

.slider-main .slick-slider {
    margin:0 -69px;
}

.slider-main .slick-slide {
    text-align:center;
    margin-right: 90px;
    margin-left: 18px;
}

h1 {
	position: relative;
    bottom: 537px;
    left: -166px;
    font-size: 3em;
    color: #fa9bbb;
}

.slider-section p {
	position: relative;
    bottom: 537px;
    left: 72px;
    font-size: 1em;
    color: #5a5a5a;
}

.slick-slide {
	outline: none !important;
}

.sponsors .slick-slide img {
	width: 100px;
}

.slider-section .btn-more {
	position: absolute;
	background-color: #71bdff;
    top: 520px;
    margin-left: 70px;
}

.slider-section .btn-more:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a0d0f9), to(#52a1e7));
	background-image: -webkit-linear-gradient(#a0d0f9, #52a1e7);
	background-image: -o-linear-gradient(#a0d0f9, #52a1e7);
	background-image: linear-gradient(#a0d0f9, #52a1e7);
}

/*Description-section*/

.description {
	background-color: #fff;
    width: 1170px;
    max-width: 100%;
    height: auto;
    margin: 0 auto 5em;
    padding: 0 10px;
}

.description h2 {
	color: #71bdff;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.description-wrap {
	width: 830px;
	margin: 0 auto;
}

.description-wrap .btn-more {
	background-color: #71bdff;
}

.description-wrap .btn-more:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a0d0f9), to(#52a1e7));
    background-image: -webkit-linear-gradient(#a0d0f9, #52a1e7);
    background-image: -o-linear-gradient(#a0d0f9, #52a1e7);
    background-image: linear-gradient(#a0d0f9, #52a1e7);
}

/*News-section*/

.news {
	background-image: url(../img/news-bg.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: auto;
}

.line {
	max-width: 100%;
    margin: 0 auto;
    display: block;
}

.news h2 {
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0;
	margin-top: 0;
    text-shadow: 4px 3px 0px #4d9ee4;
}

.news-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
 	-webkit-box-align: start;
 	    -ms-flex-align: start;
 	        align-items: flex-start; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 60px;
}

.news-wrap {
	width: 25%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 1%;
}

.news-wrap h3 {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

.news-item {
	border-radius: 5px;
	background-color: #fff;
}

.news-item-wrap {
	padding: 22px;
	padding-bottom: 0;
}

.news-item-wrap img {
	width: 435px;
	max-width: 100%;
	height: auto;
}

.news-item-wrap h4 {
	font-size: 1.2em;
	font-weight: bold;
	color: #549ede;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.news-descr {
	font-size: 0.87em;
	color: #4e4e4e;
}

.btn-more {
	width: 178px;
    height: 47px;
    background-color: #fa9bbb;
    color: #fff;
    font-size: 1em;
	text-transform: uppercase;
	border-color: transparent;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 30px;
	cursor: pointer;
}

.news-more {
	font-size: 1em;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding-top: 80px;
	padding-bottom: 52px;
}

.news-more:hover {
	color: #414141;
}

/*Sponsors-section*/

.sponsors {
	background-color: #fff;
    width: 1170px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.sponsors h2 {
	color: #6eace1;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.sponsors-main {
	width: 100%;
}

.sponsors .slick-dots li button:before {
	color: #71bdff!important;
	font-size: 15px;
}

.sponsors .slick-list {
	padding-bottom: 53px;
	overflow:hidden!important;
}

.sponsors .slick-prev {
    top: 30%;
    left: -118px;
    height: 62px;
    width: 62px;
    background: url("../img/prev.png") no-repeat 0 0;
}

.sponsors .slick-next {
    top: 30%;
    right: -93px;
    height: 62px;
    width: 62px;
    background: url("../img/next.png") no-repeat 0 0; 
}

.slick-prev:before, .slick-next:before {
    content: none;
}

.slick-slide img {
	margin: 0 auto!important;
}

/*Contacts-section*/

.contacts {
	width: 100%;
	background-color: #71bdff;
}

.contacts-main {
	color: #fff;
    padding: 50px 20px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 77%;
    margin: 0 auto;
}

.contacts-descr h2 {
	color: #fff;
	font-size: 3em;
	font-weight: bold;
    text-shadow: 4px 3px 0px #4d9ee4;
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts-descr h5, .contacts-descr p {
	font-size: 1em;
}

.contacts-descr h5 {
	margin-top: 25px;
	margin-bottom: 15px;
}

.contacts-descr p {
	margin-bottom: 10px;
	margin-top: 10px;
}

.scl-icons {
	display: inline-block;
}

.scl-icons a {
	padding-right: 15px;
}

.scl-icons img:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.scl-icons img {
	border-radius: 5px;
}

.tel, .mail {
	color: #fff;
	text-decoration: none;
}

.tel:hover, .mail:hover {
	color: #414141;
}
.contacts-map {
	max-width: 100%;
}

#map { 
    position: relative; 
}

#Ymap { 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
}

/*.ymaps-glass-pane {
    height: 600px;
}*/

.ymaps-layers-pane{
  filter: grayscale(100%);
  filter: url(/img/filters.svg#grayscale); /* Firefox 3.5+ */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
.map-wrap {
    position: relative;
}

/***************News-file***************/

/*Header-section*/

header.white {
	background-color: #fff;
}

.white .logo-top, 
.white .logo-bottom {
	color: #71bdff;
}

.white .menu li a:hover {
    color: #71bdff;
}

.white ul.menu > li a:hover{
    border-bottom: 1px solid #71bdff;
}

.white ::-webkit-input-placeholder { color: #71bdff; }
			::-moz-placeholder {color: #71bdff; }
			:-ms-input-placeholder { color: #71bdff; } 
			:-o-input-placeholder { color: #71bdff; } 

.white input[type="search"] { 
    background: url(../img/search-blue.png) no-repeat 95% 50%; 
    border: 2px solid #71bdff;
}

.white .menu__icon span {
	background: #71bdff;
}

/*News-section*/

.news-file .news-wrap {
	padding-bottom: 70px;
}

.news-file .news {
	background-image: url(../img/news-bg-blue.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: auto;
}

.pagination {
	padding: 20px; 
	clear:both;
}
.pagination ul {
	text-align: center;
}
.pagination ul li {
	display: inline-block; 
	margin: 0 1px; 
	vertical-align: middle; 
	line-height: 12px; 
	padding: 2px 6px;
}
.pagination ul li a, 
.pagination ul li span {
	color: #fff;
	text-decoration: none;
} 
.pagination ul li a:hover, 
.pagination ul li span:hover {
	color: #666f80;
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px; 
	border-radius: 1px;
}
.pagination ul li a.prev, 
.pagination ul li a.next {
	font-weight: bold;
}
.pagination ul li.active a, 
.pagination ul li.active span {
	color: #2d4c80; 
	font-size: 16px; 
	font-weight: bold;
}
.pagination ul li.active a:hover, 
.pagination ul li.active span:hover {
	background: none;
} 

.pagination ul li a:hover {}

.pagination ul li.active a {
	color: #2d4c80; 
	font-size: 16px; 
	font-weight: bold;
}

.line-1 {
	display: block;
	margin: 0 auto;
	    margin-top: -50px;
    padding-bottom: 60px;
}

/*Contacts-section*/

.news-file .contacts {
    background-color: #fff;
}

.news-file .contacts-descr h2 {
	color: #71bdff;
	font-size: 3em;
	font-weight: bold;
	text-shadow: none;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 30px;
}

.news-file .contacts-main {
	display: block;
	color: #71bdff;
}

.news-file .contacts-descr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.news-file .contacts-descr .tel, 
.news-file .contacts-descr .mail {
    color: #71bdff;
}