/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1600px) {
    
    /*Sponsors-section*/

    .sponsors .slick-next, .sponsors .slick-prev {
        display: none!important;
    }
    
    /*Contacts*/

    .contacts-map {
        width: 500px;
        padding: 50px 60px 0;
        padding-left: 10px;
        overflow: hidden;
    }
   
}

@media only screen and (max-width: 1200px) {
    
    /*Header-section*/

    .menu {
        padding-right: 22px;
    }
    
    /*Slider-main-section*/ 

    h1 {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-left: 35px;
    }

    /*News-section*/

    .news-wrap {
        width: 30%;
    }
    
    /*Sponsors*/

    .sponsors {
        width: auto; 
    }

    /*Contacts-section*/

     .contacts-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .contacts-descr {
        text-align: center;
    }

    .contacts-map {
        padding-left: 0;
        width: 405px;
    }
    
    /***************News-file***************/

    /*Contact-section*/

    .news-file .contacts-descr h2 {
        text-align: center;
    }
    
}
 
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    
    /*Header-section*/
    
    .top-header {
        width: auto;
        height: auto;
    }

    .menu__icon {
        display: block;
    }

    .menu {
        display: none;
        width: 89%;
    }

    ul.submenu > li > a {
        padding-bottom: 5px;
        padding-top: 0;
    }

    .logo-descr {
        padding: 30px 0;
    }

    .logo-wrap {
        padding-bottom: 28px;
    }

    /*Contacts-section*/
    
    .contacts-main {
        padding-top: 40px;
    }

    .scl-icons a {
        padding-right: 0;
    }
   
}

@media only screen and (max-width: 880px) {

    /*Slider-main-section*/

    .slider-main .slick-slide img {
        margin: 0 -3%!important;
    }

    /***************News-file***************/

    .news-file .contacts-descr {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

    /*Header-section*/

    .logo-top {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .logo-text {
        margin-bottom: 26px;
        font-size: 14px;
    }

    .ru {
        padding-left: 0;
        font-size: 18px;
    }

    .en {
        padding-left: 10px;
        font-size: 18px;
    }

    .search {
        padding-top: 0;
        padding-top: 0;
        padding-left: 0;
        margin: 0 auto;
    }
    
    .btn-help {
        width: 145px;
        margin: 10px auto;
    }

    .menu__icon {
        margin-right: 13px;
    }

    .logo-top, .logo-bottom {
        padding-left: 10px;
    }

    /*News-section*/

    .news-main {
        padding-top: 20px;
    }

    .news h2, .sponsors h2 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .news-wrap {
        width: 43%;
    }
    
    .child--2 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding-top: 70px;
    }

    /***************News-file***************/

    .news-file .child--2 {
        padding-top: 0;
    }

}

@media only screen and (max-width: 550px) {

    /*News-section*/
    
    .news-wrap {
        width: 70%;
    }

    .child--1 {
        padding-top: 70px;
    }

    /********************News-file********************/

    .news-file .child--1 {
        padding-top: 0; 
    }
    
}   

/* Extra Small Devices, Phones */

@media only screen and (max-width: 500px) {
    
    /*Header-section*/

    .logo-wrap {
        padding-top: 9px;
        padding-left: 0px;
    }

    .logo-top {   
        margin-top: -20px;
    }

    /*Sponsors-section*/

    .sponsors {
        padding: 0 20px;
    }

    /*Contacts-section*/ 

    .contacts-map {
        width: 350px;
    }
    
     /***************News-file***************/

    .pagination {
        padding-bottom: 53px;
    }
 
}

@media only screen and (max-width: 476px) {

    /*Sponsors-section*/

    .sponsors {
        height: 480px;
    }
}

@media only screen and (max-width: 450px) {

    /*Slider-main-section*/

    .slider-main .slick-dots {
        bottom: 265px;
    }

}

@media only screen and (max-width: 430px) {
    
    /*Header-section*/

    .top-header {
        padding: 0 10px;
    }

    .logo {
        width: 100px;
    }
    
    /*News*/

    .news-wrap {
        width: 80%;
    }

    /*Contacts-section*/

    .contacts-map {
        width: 310px;
        height: 310px;
    }

}

@media only screen and (max-width: 400px) {
    
    /*Contacts-section*/

    .contacts-map {
        width: 250px;
        height: 250px;
    }
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 350px) {

    /*Header-section*/

    .search {
        position: relative;    
        padding-top: 29px;
        padding-right: 53px;  
    }

    .menu__icon {
        position: absolute;
        top: 129px;
        left: 13%;
    }

    .btn-help {
        margin-left: 0;
    }
}

/*==========  Other Methods  ==========*/

@media only screen and (min-width: 1450px) {
   
}

@media only screen and (min-width: 2120px) {
    
}