/*==========  Desktop First M
ethod  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1600px) {

/**************Contacts**************/

    .contacts__map {
        width: 500px;
        padding: 50px 60px 0;
        padding-left: 10px;
        overflow: hidden;
    }
    
/****** Home-page/////Sponsors-section ******/

    .sponsors .slick-next, .sponsors .slick-prev {
        display: none !important;
    }
    
}

@media only screen and (max-width: 1200px) {
    
/****************Header-section****************/

    .menu {
        padding-right: 22px;
    }

/***********Contacts-section***********/

    .contacts__container {
        flex-direction: column;
        align-items: center;
    }   
    .contacts__wrap {
        text-align: center;
    }
    .contacts__map {
        padding-left: 0;
        width: 405px;
    }    
    
/**********Home-page/////Slider-main-section**********/ 

    .slider__main h3 {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-left: 35px;
    }
    
/**************Home-page/////Sponsors**************/

    .sponsors {
        width: auto; 
    }

/***************Our__news-page////Contact-section***************/

    .our__news .contacts__wrap h2,
    .palliativ .contacts__wrap h2,
    .library .contacts__wrap h2,
    .review .contacts__wrap h2 {
        text-align: center;
    }
    
}
 
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    
/************Header-section************/
    
    .menu__icon {
        display: block;
    }
    .menu {
        display: none;
    }
    ul.submenu > li > a {
        padding-bottom: 5px;
        padding-top: 0;
    }

/***********Contacts-section***********/
    
    .contacts__container {
        padding-top: 40px;
    }
    .scl__icons a {
        padding-right: 0;
    }

/**********Home-page///Slider-section**********/

    .news__wrap {
        margin-top: 3%;
    }
   
}

@media only screen and (max-width: 880px) {

/**********Home-page/////Slider-main-section**********/

    .slider__main .slick-slide img {
        margin: 0 -3%!important;
    }

/************Our__news-page////Contacts************/

    .our__news .contacts__wrap,
    .palliativ .contacts__wrap,
    .library .contacts__wrap,
    .review .contacts__wrap {
        -moz-flex-direction: column;
        -o-flex-direction: column;
                flex-direction: column;
        -ms-align-items: center;
                align-items: center;
    } 

/************Review-page************/

    .review__form-wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }   
    .review__form-textarea {
        margin-right: 0;
        display: flex;
    align-items: center;
    }
    .review__form-subtitle {
        text-align: center;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

/**************Header-section**************/

    .header__text {
        margin-bottom: 26px;
        font-size: 14px;
    }
    .ru {
        padding-left: 0;
        font-size: 18px;
    }
    .en {
        padding-left: 10px;
        font-size: 18px;
    }
    .search {
        padding-top: 0;
        padding-top: 0;
        padding-left: 0;
        margin: 0 auto;
    }   
    .menu__icon {
        bottom: 0;
    } 

/**************News-section**************/

    .news__container {
        padding-top: 20px;
    }
    .news__title, .sponsors h2 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .news__wrap {
        width: 43%;
    }  

/***************Palliativ-page/////Colored__title***************/

    .palliativ .colored__title .line {
        position: relative;
        top: 56px;
    }
    .colored__title .white__title {
        padding-left: 10px;
        padding-right: 10px;
    }

/*****Comments*****/

    .comments__wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .comments__textarea {
        margin-right: 0;
    }
    .share__wrap, 
    .comments__subtitle {
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {

/**************Header-section**************/

    .logo {
        width: 100px;
    }
    .header {
        padding: 10px;
    }
    .header__top {
        padding: 0 10px;
    }
    .header__bottom.menu_state_open .menu__links {
        top: 132px;
    }

/***************News-section***************/
    
    .news__wrap {
        width: 70%;
    }

/***************Palliativ-page/////Colored__title***************/

    .colored__title .white__title {
        padding-top: 26px;
    }

/***************Library-page/////***************/

    .library .news__wrap {
        margin: 0 3% 14%;
    }

/***************Review-page/////***************/

    .review__form-area {
        width: 95%;
    max-width: 100%;
    margin: 0 auto;
    }
}   

/* Extra Small Devices, Phones */

@media only screen and (max-width: 500px) {
    
/****************Header-section****************/

    .logo__wrap {
        padding-top: 9px;
        padding-left: 0px;
    }
    .header__top {   
        display: none;
    }
    .header__bottom.menu_state_open .menu__links {
        top: 112px;
    }

/*************Contacts-section*************/ 

    .contacts__map {
        width: 350px;
    }

/***************Home-page/////Sponsors-section***************/

    .sponsors {
        padding: 0 20px;
    }

   
/*************Our__news-page////Pagination*************/

    .pagination {
        padding-bottom: 53px;
    }

/*************Review-page*************/

    .review__button {
        left: 10%;
    }
 
}

@media only screen and (max-width: 476px) {

/************Home-page////Sponsors-section************/

    .sponsors {
        height: 480px;
    }
}

@media only screen and (max-width: 450px) {

/**********Home-page////Slider-main-section**********/

    .slider__main .slick-dots {
        bottom: 265px;
    }

}

@media only screen and (max-width: 430px) {
    
/*************News-section*************/

    .news__wrap {
        width: 80%;
    }

/************Contacts-section************/

    .contacts__map {
        width: 310px;
        height: 310px;
    }

}

@media only screen and (max-width: 400px) {
    
/************Contacts-section************/

    .contacts__map {
        width: 250px;
        height: 250px;
    }
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 350px) {

/*************Header-section*************/

    .menu__icon {
        margin-right: 0;
    }
}

/*==========  Other Methods  ==========*/

@media only screen and (min-width: 1450px) {
   
}

@media only screen and (min-width: 2120px) {
    
}